*{
    margin: 0;
    padding: 0;
    text-align: center;
}
 h1{
    background-color: #081b31;
    color: #fff;
    height: 6rem;
    line-height: 6rem;
 }

 .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

 .choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .choice:hover {
    cursor: pointer;
    background-color: #081b31;
 }

 img{
    height: 155px;
    width: 155px;
    object-fit: cover;
    border-radius: 50%;
 }

 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
 }

 #userscore, #compscore {
    font-size: 4rem;
 }

 .msgcontainer{
    margin-top: 4rem;
 }

 #msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
 }

 #resetbtn {
    margin-top: 20px;
    padding: 0.6rem;
    background-color:rgb(241, 81, 81);
    color: black;
    border: 1px solid, black;
    border-radius: 0.8rem;
 }
#resetbtn:hover{
    cursor: pointer;
}